body {
    font-family: 'Cairo', sans-serif;
    background-color: #f9fafb;
}

.bg-card {
    background-color: #ffffff;
}

.text-card-foreground {
    color: #171717;
}

.bg-muted {
    background-color: #f1f5f9;
}

.text-muted-foreground {
    color: #64748b;
}